---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

interface Props {
	handle: string;
}

const { handle } = Astro.props;
const member = await getEntry("team", handle);
if (!member) {
	throw new Error(`The member ${handle} doesn't exist`);
}

// Fetch the image and extract the redirected URL as Astro doesn't support remote images with redirection.
const response = await fetch(
	`https://github.com/${member.data.id}.png?size=25`,
	{ redirect: "manual" },
);
if (response.status < 300 || response.status >= 400) {
	throw new Error("The GitHub avatar image should response 30x redirect");
}

const prefix = member.data.type === "core" ? "Core Contributor" : "Maintainer";
const url = `https://github.com/${member.data.id}`;
const imageUrl = response.headers.get("location") as string;
const alt = `Member @${member.data.id}`;
---

<span class="avatar">
	<span>{prefix}</span>
	<a href={url} title={alt}>
		<Image src={imageUrl} alt={alt} width="25" height="25" />
		<span>@{member.data.id}</span>
	</a>
</span>


<style>
	.avatar {
		a {
			text-decoration: underline;
			color: inherit;
			font-weight: bold;
			line-height: 30px;
			height: 30px;
			padding: 0 5px;
		}
		img {
			display: inline-block;
			border-radius: 50%;
			margin-right: 5px;
			vertical-align: middle;
			width: 25px;
			height: 25px;
		}
	}
</style>
