---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

interface Props {
	handle: string;
}

const { handle } = Astro.props;
const member = await getEntry("team", handle);

if (!member) {
	throw new Error(`The member ${handle} doesn't exist`);
}

const url = `https://github.com/${member.data.id}`;
const image = `https://github.com/${member.data.id}.png?size=200`;
const alt = `User ${handle}`;
---

<a href={url}>
    <Image
            src={image}
            alt={alt}
            width="200"
            height="200"
    />
    <span>@{member.data.id}</span>
</a>
